[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flask = "*"
python-dotenv = "*"

[packages]
wordcloud = "*"
requests = "*"
xmltodict = "*"
lxml = "*"
beautifulsoup4 = "*"

[requires]
python_version = "3.7"
